/* Empty file for template. Remember to edit only this file and not the HTML file */
*{
    /* font */
}

body{
    margin: 0;
}

.page-wrapper{
    background: linear-gradient(180deg, #153B46 0%, #33606E 7.6%, #659FB0 17.1%, #7DBCD0 50.6%, #A0E8FE 100%);
}

h1, ul{
    margin: 0;
}

.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}

header > h1 {
    background-image: url(images/title.png);
    position: absolute;
    text-indent: -999px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 903px;
    max-height: 122px;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

header h2{
    display: flex;
    margin-top: 9em;
    margin-bottom: 0;
    background-image: url("images/intro-cloud.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    justify-content: center;
    width: 1000px;
    max-width: 916.29px;
    padding-top: 2em;
}

#zen-summary{
    background-image: url("images/intro-cloud.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -20px;
    justify-content: center;
    padding: 0 3em 4em 3em;
    margin-top: 0;
}

div.preamble::before{
    content: url("images/satelite.png");
    /* help me */
}