/* Empty file for template. Remember to edit only this file and not the HTML file */
*{

}

body{
    margin: 0;
}

.page-wrapper{
    background: linear-gradient(180deg, #153B46 0%, #33606E 7.6%, #659FB0 17.1%, #7DBCD0 50.6%, #A0E8FE 100%);
}

h1, ul{
    margin: 0;
}

.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}

header > h1 {
    background-image: url(images/title.png);
    position: absolute;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 20%;
    /* make better */
}