/* Empty file for template. Remember to edit only this file and not the HTML file */
*{
    z-index: 1;
    font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body{
    margin: 0;
}

.page-wrapper{
    background: linear-gradient(180deg, #153B46 0%, #33606E 7.6%, #659FB0 17.1%, #7DBCD0 50.6%, #A0E8FE 100%);
}

h1, ul{
    margin: 0;
}

.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}

header > h1 {
    background-image: url(images/title.png);
    position: absolute;
    text-indent: -9999px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 903px;
    max-height: 122px;
    margin-top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

header h2{
    display: flex;
    margin-top: 9em;
    margin-bottom: 0;
    background-image: url("images/intro-cloud.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    justify-content: center;
    width: 1000px;
    max-width: 916.29px;
    padding-top: 2em;
}

#zen-summary{
    background-image: url("images/intro-cloud.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -20px;
    justify-content: center;
    padding: 0 3em 4em 3em;
    margin-top: 0;
}

div.preamble::before{
    content: url("images/satelite.png");
    position: absolute;
    left: -20%;
    top: -50%;
    transform: scale(0.6);
}

.preamble[role="article"]{
    position: relative;
    background-image: url("images/para-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 900px;
    align-self: flex-end;
    margin-top: 4em;
    margin-right:0;
    background-position: right bottom;
    padding: 3em 5em 3em 6em;
}

div.explanation::after{
    content: url("images/rocket.png");
    position: absolute;
    right: -50%;
    top: -50%;
    transform: scale(.7);
}

div.explanation[role]{
    position: relative;
    background-image: url("images/para-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 900px;
    margin-top: 4em;
    margin-left: 0;
    background-position: left bottom;
    padding: 2em 3em 2em 3em;
}

.main.supporting[role^="main"]{
    display: flex;
    flex-direction: column;
}

.participation{
    background-image: url("images/para-3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin-top: 6em;
    padding: 2em 6em 2em 2em;
    max-width: 550px;
    height: 700px;
    width: 100%;
}

.supporting .benefits{
    align-self: flex-end;
    position: absolute;
    bottom: -110.5%;
    background-image: url("images/para-4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    padding: 2em 2em 2em 6em;
    max-width: 550px;
}

.requirements[role|="article"]{
    position: relative;
    display: flex;
    align-self: center;
    max-width: 500px;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 40em;
}

.requirements::before{
    content: url("images/heli.png");
    position: absolute;
    z-index: -1;
    top: -5%;
    left: 50%;
    transform: translateX(-50%) scale(3);
}

footer{
    margin-top: 30em;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    justify-content: center;
    align-items: flex-end;
}

footer a{
    position: relative;
    max-width: 100%;
    background-image: url("images/kite.png");
    background-size: 90% 90%;
    padding: 5em 8em 8em 5em;
    background-position: 45px 24px;
    background-repeat: no-repeat;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.design-selection{
    align-self: center;
}

.select{
    text-indent: -9999px;
    background-image: url("images/blimp.png");
    background-size: 100% 100%;
    padding: 8em 20em;
}

.design-selection{
    display: flex;
    flex-direction: column;
}

div.design-selection nav[role~="navigation"]{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/para-5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 6em;
    max-width: fit-content;
    padding: 3em 3em;
}

.archives{
    text-indent: -9999px;
}

.design-archives{
    position: relative;
    margin-left: 30em;
}

div.design-archives ul{
    display: flex;
    flex-direction: row;
}

div.design-archives li{
    margin-top: 8em;
    list-style: none;
    padding-right: 2em;
}

.design-archives::after{
    content: url("images/plane-right.png");
    position: absolute;
    top: -5%;
    left: 5%;
    transform: scale(1.5);
}

div.zen-resources h3{
    text-indent: -9999px;
}

div.zen-resources li{
    display: inline;
    list-style: none;
}

div.zen-resources{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20em;
    margin-bottom: 20em;
}

.view-css, .css-resources, .zen-faq{
    margin-top: 20em;
    padding: 16em 10em 1em 10em;
    background-image: url("images/hot-air-b.png");
    background-size: 300px 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.view-css a, .css-resources a, .zen-faq a{
    text-decoration: none;
    inline-size: 100px;
    overflow-wrap: break-word; 
}

.zen-submit, .zen-translations{
    position: relative;
    bottom: -150px;
    left: -45%;
    z-index: 1;
}

.zen-translations{
    padding-left: 2em;
}

.zen-submit::before{
    content: url("images/plane-left.png");
    position: absolute;
    transform: scale(0.4);
    right: -900px;
    top: -110px;
    z-index: -1;
}

li ~ a{
    text-decoration: none;
}

a:visited{
    color: hotpink;
}

::selection{
    color: white;
    background: #33606E;
}

:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a[title$="e"]{
    text-decoration: dashed transparent;
}

a[title*="no"]{
    background: #00c3ff 0.6%;
}

a:active{
    color: beige;
    background-color: aqua;
}

p:empty{
    background: transparent;
}

h3:first-child{
    align-self: center;
}

p::first-letter{
    color: rgb(28, 28, 28);
}

p::first-line{
    font-weight: 10;
}

a:focus{
    transition: background ease 200ms ;
    font-weight: 30;
    color: #0099c7;
}

a:hover{
    transition: background ease 200ms ;
    font-weight: 30;
    color: #3fc700;
}

div:only-child{
    text-indent: 2px;
}

p:last-child{
    font-weight: 8;
}

a:link{
    color: aqua;
    text-decoration: none;
}

h3:only-of-type{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

div:nth-child(2){
    color: rgb(33, 23, 25);
}

div:nth-last-child(2){
    background: transparent;
}

header:nth-last-of-type(1){
    color: #396126;
}

aside:nth-of-type(1){
    font-size: medium;
}